{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
    

{% block fos_user_content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>


//For opening the add IOU window
$(document).ready(function(){
	$("#request").click(function(){
		$( "#dialog" ).dialog({
            autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
			hide: {
				effect: "explode",
				duration: 1000
			}
		});
		$("#dialog").dialog("open");
	});		
});

//openning the add contact window
$(document).ready(function(){
	$("#add-contact").click(function(){
		$( "#addContact" ).dialog({
            autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
			hide: {
				effect: "explode",
				duration: 1000
			}
		});
		$("#addContact").dialog("open");
	});		
});
//Sending the IOU data to the "createIOU" function
$(document).ready(function(){
	if ($("#IOU").attr(':checked')){
		IOUtype1="IO";
	}else{
		IOUtype1="UO";
	}
	$("#Make_IOU_button").click(function(){		
		$.post('{{path('ekoed_iou_default_createiou')}}',
		{
		 IOUtype:$('input:radio[name=IOUtype]:checked').val(),
		 ower:$("#recipient").val(),
		 unit:$("#unit").val(),
		 amount:$("#amount").val(),
		 duedate:$("#duedate").val(),
		 description:$("#description").val(),
		},
		function(){
		$("p").text("success");
		},"json");
	});
});

//ADD CONTACT
$(document).ready(function(){
	$("#add-contact-btn").click(function(){
		var contacttype;
	
		if($("#email").val==""){
			contacttype="email";
			recipientVal=$("#email").val();
		}else{
			contacttype="username";
			recipientVal=$("#username").val();
		}
		$.post('{{path('ekoed_user_user_addcontact')}}',
		{
			IOUcreator:"{{app.user.username}}",
			contact:recipientVal,
			format:contacttype
		},

		//if the contact is not found in contacts, notify the user
		//else send the IOU for confirmation
		function(response){

			if(response.Data=="confirm"){
				//add new contact
				$( "#addUser" ).dialog({
		            autoOpen: false,
					show: {
						effect: "blind",
						duration: 1000
					},
					hide: {
						effect: "explode",
						duration: 1000
					}
				});
				$("#addUser").dialog("open");		

			}else{
				//yay
			}
		},"json");
	});
});


//managing the IOWE vs UOWE radio boxes
$('input:radio[name="IOUtype"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == '') {
            // append goes here
        }
    });

 $(function() {
$( "#duedate" ).datepicker();
$( "#adddate" ).datepicker();
});
</script>
{% if app.user %}	
Hello {{app.user.username}}
		<div id="dialog" title="Make IOU" style="display:none;">
			<p class="validateTips">All form fields are required.</p>
			<form onsubmit="return false;">
			<input type="submit" id="Make_IOU_button" value="Make it!">
			<fieldset>
			<label for="recipient">recipient</label>
			<input type="text" name="recipient" id="recipient" class="fieldset text" />
			<input type="radio" id="IOU" name="IOUtype" value="IO">I Owe You<br>
			<input type="radio" name="IOUtype" value="UO">You Owe Me<br>			
			<label for="unit">units</label>
			<input type="text" name="" id="unit" value="" class="fieldset text" />
			<label for="amount">amount</label>
			<input type="text" name="amount" id="amount" value="" class="fieldset text" />
			<label for="due date">duedate</label>
			<input type="date" name="duedate" id="duedate" value="" class="fieldset text" />
			<label for="adddate">adddate</label>
			<input type="date" name="adddate" id="adddate" value="" class="fieldset text" />
			<label for="description">Description</label>
			<input type="text" name="description" id="description" value="" class="fieldset text" />
			</fieldset>
			</form>
		</div>
		<!-- ADD CONTACT -->
		<div id="addContact" title="add contact" style="display:none">
		<fieldset>
			<lable for="contact">contact email<label>
			<input type="text" id="email">
			<lable for="contact">username </label>
			<input type="text" id="username">
		</fieldset>
		<input type="submit" id="add-contact-btn" value="add contact!">

		</div>
		<input type="submit" id="request" value="new IOU">
		<input type="submit" id="add-contact" value="add contact">
		<!-- CREATE UNREG USER BY EMAIL -->

			
			<div id="addUser" title="send request?" style="display:none">
			<p>waaaaaat</p>
			</div>
<p>none</p>

{% else %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
    <p>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'remember_me'|trans }}</label>
    </p>
    <input type="submit" id="_submit" name="_submit" value="{{ 'submit'|trans }}" />
</form>
{% endif %}

{% endblock fos_user_content %}
